<div class="row list-group-item">
  <div class="col-xs-6">
    <!-- takes and uppends item.id to the route passing 'id' to the item-detail.component -->
    <a [routerLink]="['/detail/' + item.id]" class="clearfix">

      <span class="pull-left">
        <img [src]="item.picture" class="img-responsive" style="max-height: 80px; margin-right:8px;">
      </span>
      <div>
        <small> <h6 class="list-group-item-heading">{{item.name}}</h6></small>
          <small> <p class="list-group-item-text"> {{"Price:"}} {{item.price}}</p></small>
          <small><p class="list-group-item-text">{{"Size:"}} {{item.size}}</p></small>
         <small> <p class="list-group-item-text">{{"Color:"}} {{item.colour}}</p></small>
         <small> <p class="list-group-item-text">{{"Quantity:"}} {{item.quantity}}</p></small>
      </div>

    </a>
  </div>
  <div class="col-xs-4">
      <span class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-sm">Quantity</span>
      </span>
    <input type="number" class="form-control" 
           name="quantity"   min=1 step=1 [max]="maxPossibleOrder()" 
           id="qty" [value]="item.quantity" 
           onkeydown="return false" placeholder="1" 
           aria-describedby="inputGroup-sizing-sm"
           (input)="onEditQuantity($event)">
    
      
  </div>
  <div class="col-x-2">
    
      <button class="btn btn-danger" (click)="onDeleteOrder()">Delet</button>
   
  </div>
</div>
